.vk {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 0 0 0 800px;
}
.news {
    color: red;
    font-size: 35px;
    font-style: italic;
    text-align: center;
}

.menu {
    color: green;
    font-style: oblique;
    font-size: 20px;
    border: 3px dotted violet;
    width: 300px;
}
h1 {
    text-align: center;
    
}
.pictures {
    width: 300px;
    height: 200px;
    margin: 10px 0 10px 400px;
}
@keyframes red-blue {
    0% {
        color: cadetblue;
    }
    25% {
        color: brown;
    }
    50% {
        color: blue;
    }
    75% {
        color: blueviolet;
    }
    100% {
        color: red;
    }
}
.animation-text {
    animation: red-blue 10s infinite;
}
