.vk {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 0 0 0 800px;
}
.news {
    color: red;
    font-size: 35px;
    font-style: italic;
    text-align: center;
}

.menu {
    color: green;
    font-style: oblique;
    font-size: 20px;
    border: 3px dotted violet;
    width: 300px;
}
h1 {
    text-align: center;
    color: green;
}
.pictures {
    width: 300px;
    height: 200px;
    margin: 10px 0 10px 400px;
}
@keyframes color-change {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
    .animation {
        animation: color-change 5s infinite;
    }
}